.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(26, 26, 26, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
  }

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 627px;
    height: 499px;
    position: relative;
    background-color: #fff;
    transform: scale(0.5);
    transition: 0.4s;
    padding: 65px;
}

.modal-content.active {
    transform: scale(1);
  }

.modal-close {
  position: absolute;
  top: 40px;
  right: 40px;
  display: block;
  cursor:pointer;
  width: 20px;
  height: 20px;
}

.modal-close:before, .modal-close:after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  height: 3px;
  width: 100%;
  background-color: #333;
  }

.modal-close:before{
  transform: rotate(45deg);
}
.modal-close:after{
  transform: rotate(-45deg);
}